body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myChatsHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 3px 3px;
  font-size: 26px;
  font-family: Work sans;
}
.myChats {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 3px;
  overflow-y: hidden;
}
.myChats-scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
}
.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
.text {
  margin: 0;
  text-align: left;
  font-size: 18px;
}
.textLarge {
  text-align: center;
  margin: 0 0 10px;
  padding-bottom: 3px;
  font-family: Work sans;
  font-size: 28px;
}
.lastMessage {
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
}
.box {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items:  center;
  justify-content: center;
}
.box31 {
  width: 100%;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  background-color: white;
  border-radius: 3px;
  border-width: 1px;
}
.box68 {
  -webkit-box-align: center;
  align-items: center;
  padding: 3px;
  background-color: white;
  border-radius:  0.5rem;
  border-width: 1px;
}
.chatItem {
  display: flex;
  justify-content: start;
  height: 55px;
  cursor: pointer;
  background-color: #ECFCFF;
  color: #000;
  padding: 2px 3px;
  border-radius: 3px;
}
.chatItem.active {
  background-color: #0FD3FF;
  color: #FFF;
}
.chatItem.active img {
  border: 1px solid #ECFCFF;
}
.chatItemImage {
  width: 46px;
  height: 46px;
  min-width: 46px;
  margin: 3px;
  padding: 2px;
}
.chatItemImage img {
  object-fit: cover;
  border: 1px solid #0FD3FF;
  border-radius: 50%;

}
.modalListItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2px;
  padding: 2px 12px;
  align-items: center;
  cursor: pointer;
  color: black;
  background-color: #E8E8E8;
  border-radius: 5px;
}
.modalListItem:hover {
  background-color: #38B2AC;
  color: white;
}

.box68group {
  display: none;
  width: 100%;
}
.box68single {
  width: 100%;
}
.spanAvatar {

}
.spanAvatar span {
  position: absolute;
}
.modalContent {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 7777;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  overscroll-behavior-y: none;
}
.modalSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 410px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 4px;
  color: inherit;
  margin-top: auto;
  margin-bottom: auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  background-color: white;
  opacity: 1;
}
.modalHeader {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 40px;
  font-family: Work sans;
  font-weight: 600;
}
.modalBody {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
}
.modalFooter button {
  display: block;
  margin: 0 auto;
}
.imgAvatar {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
  vertical-align: middle;
}
.imgModal {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
img {
  border-style: none;
}
.icon {
  width: 30px;
  height: 30px;
  padding: 3px;
  background-color: #eee;
  border-radius: 3px;
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  vertical-align: middle;
}
.icon:hover {
  background-color: #E8E8E8;
}
.iconArrow {
  display: flex;
}
.newChat {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 3px;
  font-weight: 500;
}
.searchUser {
  display: none;
  padding: 0 4px;
}
.rightMenu {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.notificationMenu {
  margin-right: 34px;
  /*position: relative;*/
}
.notification {
  display: inline-flex;
  appearance: none;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  outline-offset: 2px;
  padding: 5px;
  position: relative;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}
.notification:hover,
.notification:focus-visible {
  background-color: pink;
}
.icon-button {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.notification:hover {
  cursor: pointer;
}
.notification:active {
  background: #cccccc;
}
.myProfile {
  color: inherit;
  user-select: none;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  text-align: start;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  -webkit-padding-start: 0.75rem;
  padding-inline-start: 0.75rem;
  -webkit-padding-end: 0.75rem;
  padding-inline-end: 0.75rem;
}
.myProfile:hover {
  background-color: #eee;
}
.buttonAvatar {
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  line-height: 1.2;
  background-color: transparent;
}
.spanAvatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.listMenu {
  position: absolute;
  top: 46px;
  padding: 6px;
  background-color: pink;
  transition: line-height 0.5s, color 0.5s;
  border: 1px solid #bbb;
  white-space: nowrap;
  z-index: 22;
}
.time1 {
  margin-top: 20px!important;
}
.listElement {
  padding: 2px 4px;
  overflow: hidden;

}

@media screen and (min-width: 768px) {
  .box31 {
    display: flex!important;
    width: 31%;
  }
  .box68group {
    display: flex;
    flex-direction: column;
    width: 68%;
  }
  .iconArrow {
    display: none;
  }
  .newChat {
    font-size: 10px;
  }
  .searchUser {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .newChat {
    font-size: 17px;
  }
}


.leonardo1 {
  background: linear-gradient(81.02deg, #FA5560 -23.47%, #B14BF4 45.52%, #4D91FF 114.8%);
}

.leonardo2 {
  background: linear-gradient(81deg, rgba(219, 81, 158, 0.75) 13.83%, rgba(177, 75, 244, 0.75) 49.5%, rgba(102, 107, 209, 0.75) 85.32%);
}

.leonardo3 {

}
.css-1rgt4x8:hover, .css-1rgt4x8[data-hover] {
  background: linear-gradient(90.04deg, rgb(177, 75, 244) -7.94%, rgb(77, 145, 255) 110%);
}

.leonardo4 {

}

.leonardo5 {

}
