@import url("styles/login_signup.css");
/*@import "./utils/Toast/Toast.css";*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.chats_page {
  width: 100%;
}
.modal_group_chat {
  position: relative;
}
.chats_page_myChats-singleChat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 90.5vh;
  padding: 6px;
}
.link_account {
  margin-bottom: 6px;
  font-weight: 700;
}
.link_account:hover {
  color: mediumblue;
}
.myChats_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 3px 3px;
  font-size: 26px;
  font-weight: 600;
  font-family: Work sans;
}
.myChats_header button  span.new_group_button {
  display: none;
}
.myChats {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 3px;
  overflow-y: hidden;
}
.myChats-scroll {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
}
.drawer_block.open .modalOverlay {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}
.drawer_block.close .modalOverlay {
  opacity: 0;
  transition: opacity 2.52s ease-in;
  z-index: -11;
}
.drawer_content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 92%;
  max-width: 340px;
  padding: 20px 0;
  box-sizing: border-box;
  background: #fff;
  transform: translateX(0);
  transition: left .52s ease-in;
  z-index: 2010;
}
.drawer_content.close {
  left: -340px;
  transition: left .52s ease-in;
}
.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}
.text {
  margin: 0;
  text-align: left;
  font-size: 18px;
}
.textLarge {
  text-align: center;
  margin: 0 0 10px;
  padding-bottom: 3px;
  font-family: Work sans;
  font-size: 28px;
}
.lastMessage {
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
}
.box {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items:  center;
}
.badges_box {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  margin: 8px 0;
}
.items_box {
  display: block;
  width: 100%;
  max-height: 280px;
  overflow-y: auto;
}
.box31 {
  width: 100%;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  border-width: 1px;
}
.box68 {
  -webkit-box-align: center;
  align-items: center;
  padding: 3px;
  background-color: white;
  border-radius:  4px;
  border-width: 1px;
}
.chat_item {
  position: relative;
  display: flex;
  justify-content: start;
  width: 100%;
  height: 55px;
  min-height: 55px;
  cursor: pointer;
  background-color: #ECFCFF;
  color: #000;
  padding: 2px 3px;
  border-radius: 3px;
  overflow: hidden;
}

.chat_item.active {
  background-color: #0FD3FF;
  color: #FFF;
}
.chat_item-image {
  position: relative;
  width: 46px;
  height: 46px;
  min-width: 46px;
  margin: 2px 3px 2px 0;
  padding: 0px;
}
.chat_item-image-images {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: 24px;
  bottom: 0;
  overflow-x: hidden;
}
.chat_item-image .chat_item-image-images-image {
  position: relative;
  width: 24px;
  height: 24px;
}
.chat_item-image img {
  width: 46px;
  height: 46px;
  object-fit: cover;
  border: 1px solid #0FD3FF;
  border-radius: 50%;
}
.chat_item-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chat_item-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.chat_item.active img {
  border: 1px solid #ECFCFF;
}
.chat_item-name_date {
  display: flex;
  justify-content: space-between;
}
.chat_item-date_time {
  position: absolute;
  right: 2px;
  font-size: 12px;
}
.modal_listItem {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2px;
  padding: 1px 12px 1px 4px;
  align-items: center;
  cursor: pointer;
  color: black;
  background-color: #E8E8E8;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}
.modal_listItem:hover {
  background-color: white;
  color: black;
}
.modal_listItem .span_avatar {
  width: 36px;
  height: 36px;
  margin: 2px;
}
.group_avatar {
  display: flex;
  height: 50px;
}
.group_avatar .imgAvatar {
  width: 50px;
  border: 1px solid #CCC;
}
.group_avatar .imgAvatar:hover {
  border-color: #333;
}
.group_avatar .chat_item-image-images-image {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #CCC;
  border-radius: 50%;
  object-fit: cover;
}
.modal_listItem img {
  border: 1px solid #0FD3FF;
}
.modal_listItem-data {
  font-size: 14px;
}
.modal_listItem-data p {
  margin: 0;
  text-align: left;
}
.scrollable {
  max-height: inherit;
  height: inherit;
  overflow-y: auto;
}
.chatMessage {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 4px 6px 6px;
  max-width: 75%;
}
.chatMessage span {
  margin-left: 6px;
  margin-right: 6px;
  line-height: 1.2;
}
.scrollable .buttonForm.buttonAlert.button {
  display: none;
}
.picture_content {
  margin-top: 6px;
  margin-bottom: 8px;
}
.chat_message_avatar {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  vertical-align: top;
  width: var(--avatar-size);
  height: var(--avatar-size);
  --avatar-size: 2rem;
  --avatar-font-size: calc(2rem / 2.5);
  margin-top: 7px;
  margin-right: 4px;
  cursor: pointer;
}
.chat_message_avatar_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.chatMessageName{
 font-weight: 600;
}
.chatMessageTime {
  position: relative;
  text-align: right;
  font-size: 9px;
  line-height: 1.1;
  background-color: inherit;
}
.chatMessageDate {
  position: absolute;
  top: 0px;
  right: 40px;
  visibility: hidden;
  background-color: white;
  padding: 3px 5px;
  border-radius: 5px;
}
.chatMessageTime:hover .chatMessageDate {
  visibility: visible;
}
.box68group {
  display: none;
  width: 100%;
}
.box68single {
  width: 100%;
}
/*.modal_header {*/
/*  font-size: 26px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
.groupChatModal {

}
.create_group_chat {
}
.create_group_chat .modal_section {
  position: absolute;
  min-width: 320px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3454;
}
.modalWindow {
  position: absolute;
}
.modalContent {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 7777;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  overscroll-behavior-y: none;
}
.modalOverlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.48);
  z-index: 1400;
}
.modalContentTime {
  position: absolute;
  width: 330px;
  min-height: 300px;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 34344;
  --modal-bg: #fff;
  background: #fff;
  border-radius: 4px;
  opacity: 1;
}
.search_button {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 0.375rem;
  font-weight: 600;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: 200ms;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 18px;
  padding: 4px;
  color: inherit;
}
.search_button * {
  display: inline-block;
}
.signup_button {
  display: block;
  text-align: center;
}
.close_button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.close_button svg {
  border-radius: 50%;
}
.modal_header + .close_button {
  position: absolute;
  top: 4px;
  right: 4px;
}
.modal_section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 336px;
  border: 1px solid #B9D0E2;
  border-radius: 4px;
  color: inherit;
  margin: auto;
  background-color: white;
  opacity: 1;
  padding: 6px;
  box-shadow: 0 0 1px #004daa, 0 0 15px #48a6d9;
}
.modal_body {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.badgeBlock {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 3px;
}
.badge_item {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 600;
  background: powderblue;
  color: darkslateblue;
  padding: 2px 0 2px 4px;
  margin: 1px;
  font-size: 12px;
  cursor: pointer;
}
.badge_item > span{
  margin-top: 2px;
}
.badgeBlock .badge_item span {
  margin-top: 2px;
  line-height: initial;
}
.badge_item .close_button, .badge_item .close_button svg {
  width: 22px;
  height: 22px;
  padding: 0;
  background-color: transparent;
}
.single_chat {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  padding: 6px;
  width: 100%;
  align-items: center;
}
.single_chat_header1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.single_chat_header2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
}
.single_chat_header2 .span_avatar {
  display: flex;justify-content: flex-start;
}
.single_chat_header2 .chat_item-image-images {
  position: static;
  height: initial;
}
.single_chat span {
  display: inline-block;
  margin-left: auto;
  margin-right: 8px;
  vertical-align: middle;
  line-height: 42px;
  font-weight: 600;
}
.single_chat_header2 .span_avatar {
  margin: 0;
}
.single_chat_header2 .span_avatar:hover {
  border: none;
}
.single_chat_header2 .icon_button {
  padding: 0;
}
.single_chat-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3px;
  width: 100%;
  height: 82%;
  border-radius: 5px;
  overflow-y: hidden;
  background-color: #F3F3FF;
}
.single_chat-field .form-control {
  position: relative;
}
.single_chat-field .icon_picture {
  /*position: absolute;*/
  /*top: 1px;*/
  /*right: 6px;*/
}
.single_chat-field .icon_picture input {
  /*display: none;*/
}
/*.single_chat-field .dialog_alert {*/
/*  left: 50%;*/
/*  transform: translate(-50%);*/
/*  z-index: 23;*/
/*}*/
.read_write_button {
  display: flex;
  justify-content: space-around;
  margin-left: 8px;
}
.write_read_span1 {
  padding: 2px 4px;
  color: #DDD;
  font-size: 18px;
  font-weight: 600;
}
.writeActive {
  color: #000;
  font-weight: 600;

}
.writeActive, .writePassive {
  min-width: 75px;
  opacity: 1;
  font-size: 24px;
  -webkit-animation: flash 1.4s;
  animation: flash 1.4s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.writePassive {
  color: #DDD;
  font-weight: 400;
}
.switch {
  display: inline-block;
  position: relative;
  width: 85px;
  height: 38px;
  /*top: 3px;*/
}
.switch-input {
  width: 0;
  height: 0;
  opacity: 0;
}
.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  /*background-color: #AFDBF5;*/
  border: 1px solid #D3EBFA;
  border-radius: 34px;
  transition: 1s;
}
.switch-slider:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 4px;
  left: 2px;
  cursor: pointer;
  background-color: #FFF;
  border-radius: 50%;
  transition: 0.6s;
  box-shadow: 0 2px 11px 2px #AFDBF5;
}
.switch-input:focus + .switch-slider {
  box-shadow: 0 0 10px #AFDBF5;
}
.switch-input:checked + .switch-slider {
  background-color: #AFDBF5;
}
.switch-input:checked + .switch-slider:before {
  transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
}
.secret_block {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1px;
}
.secret_block span {
  vertical-align: middle;
  line-height: 1.1;
}
.update_footer {
  margin: 12px auto;
  padding: 8px;
}
.updateBlock {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.updateBlock .update_button{
  width: 85px;
}
.update_button {
  /*display: inline-flex;*/
  /*appearance: none;*/
  /*-webkit-box-align: center;*/
  /*align-items: center;*/
  /*-webkit-box-pack: center;*/
  /*-ms-flex-pack: center;*/
  /*-webkit-justify-content: center;*/
  /*justify-content: center;*/
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
  /*position: relative;*/
  /*white-space: nowrap;*/
  /*vertical-align: middle;*/
  /*border-radius: 3px;*/
  /*font-weight: 500;*/
  /*height: 2.5rem;*/
  /*min-width: 2.5rem;*/
  /*font-size: 12px;*/
  /*margin-left: 2px;*/
  /*padding: 4px;*/
  /*color: #fff;*/
  /*background: linear-gradient(81deg, rgba(219, 81, 158, 0.75) 13.83%, rgba(177, 75, 244, 0.75) 49.5%, rgba(102, 107, 209, 0.75) 85.32%);;*/
}
.updateInput {
  margin-bottom: 3px;
  width: 100%;
  font-size: 18px;
  padding: 4px;
  border-radius: 3px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  border: 1px solid #232a31;
  background-color: #fdfdff;
  margin-bottom: 3px;
}
.updateInput::placeholder {
  color: #CCC;
}
.form_control {
  width: 100%;
  position: relative;
  margin: 8px;
}
.modal_footer {
  display: flex;
  justify-content: center;
  margin: 4px;
  padding: 6px;
}
.skeleton_block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.skeleton_unit {
  opacity: 0.7;
  border-radius: 4px;
  color: transparent;
  pointer-events: none;
  user-select: none;
  height: 45px;
}
#skeleton {
  background: #DDD;
  animation: 0.8s linear infinite alternate skeleton_animation;
}
@keyframes skeleton_animation {
  from {background-color: #DDD;}
  to {background-color: #A0AEC0;}
}
.loader {
  border: 10px solid #CCC;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  display: inline-block;
  align-self: center;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*.inputSearch {*/
/*  min-width: 0px;*/
/*  margin-right: 4px;*/

/*  margin-bottom: 3px;*/
/*  width: 100%;*/
/*  font-size: 18px;*/
/*  padding: 4px;*/
/*  border-radius: 3px;*/
/*  outline: 2px solid transparent;*/
/*  outline-offset: 2px;*/
/*  position: relative;*/
/*  appearance: none;*/
/*  border: 1px solid inherit;*/
/*  margin-bottom: 3px;*/
/*}*/
.input_upload {
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}
.css-1kxonj9 {
  width: 100%;
  position: relative;
}
.search_block_Header {
  position: relative;
  -webkit-flex: 0;
  -ms-flex: 0;
  flex: 0;
  padding: 8px;
  font-weight: 600;
  border-bottom-width: 1px;
}
.search_block_Header .close_button {
  position: absolute;
  top: -6px;
  right: 8px;
}
.search_block_Gross {
  padding: 8px;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 2;
   overflow: auto;
 }
.search_block {
  display: flex;
  padding-bottom: 2px;
}
.search_block button {
  width: 85px;
}
.chats_header {
  display: flex;
  justify-content: space-around;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  align-items: center;
  background: white;
  width: 100%;
  padding: 10px 10px 5px;
  border-width: 5px;
}
.modal_header {
  display: flex;
  justify-content: center;
  margin: 42px auto 20px;
  font-size: 28px;
  font-weight: 600;
}

.imgAvatar {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
  vertical-align: middle;
}
.imgModal {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
img {
  border-style: none;
}
.icon {
  width: 30px;
  height: 30px;
  padding: 3px;
  /*background-color: #eee;*/
  border-radius: 3px;
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  vertical-align: middle;
}
.icon:hover {
  background-color: #E8E8E8;
}
.icon_arrow {
  display: flex;
}
.icon_picture {
  position: absolute;
}
.newChat {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  background: #eee;
  border-radius: 15px;
  padding: 0;
}
.searchUser {
  display: none;
  padding: 0 4px;
}
.rightMenu {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.notification_menu {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-right: 34px;
}
.notification_menu  .listElement {
  width: initial;
}
.notification {
  /*display: inline-flex;*/
  /*appearance: none;*/
  /*-ms-flex-align: center;*/
  /*align-items: center;*/
  /*vertical-align: middle;*/
  /*outline-offset: 2px;*/
  /*padding: 7px;*/
  /*position: relative;*/
  /*color: #333;*/
  /*background: #EEE;*/
  /*border: none;*/
  /*outline: none;*/
  /*border-radius: 50%;*/
}
.icon_button:hover,
.icon_button:focus-visible {
  border: 1px solid #333;
  cursor: pointer;
}
.icon_button_notification {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.notification:active {
  background: #cccccc;
}
.myProfile {
  color: inherit;
  user-select: none;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  text-align: start;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  -webkit-padding-start: 0.75rem;
  padding-inline-start: 0.75rem;
  -webkit-padding-end: 0.75rem;
  padding-inline-end: 0.75rem;
}
.myProfile:hover {
  background-color: #eee;
}
.avatar_block {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.avatar_button {
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  line-height: 1.2;
  background-color: transparent;
}
.span_avatar {
  width: 50px;
  height: 50px;
  margin: 2px;
  border-radius: 50%;
  align-items: center;
  position: relative;
  cursor: pointer;
}
button .span_avatar:hover{
  border: 1px solid #333;
}
.span_avatar span {
  position: absolute;
}
.buttonClose {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
.list_menu {
  position: absolute;
  top: 54px;
  right: 0;
  padding: 4px 0;
  padding: 4px 8px;
  background-color: white;
  transition: line-height 0.5s, color 0.5s;
  border: 1px solid #B9D0E2;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 22;
}
.listElement {
  width: 190px;
  font-size: 18px;
  overflow: hidden;
}
.listElement button {
  padding: 4px;
  font-weight: 600;
}

.listElement:hover, .listElement:hover .myProfile {
  background-color: #E2FCFF;
}
.listElement:hover myProfile_settings.active {

}
.myProfile_settings {
  height: 0;
  transition: height 0.5s ease-in;
}
.myProfile_settings.active {
  height: 67px;
  transition: height 0.5s ease-in;
}
.myProfile_settings .switch {
  width: 56px;
  height: 28px;
  margin-left: 6px;
}
.myProfile_settings .switch-slider:before {
  width: 20px;
  height: 20px;
  bottom: 2px;
  border: 1px solid #D3EBFA;
}
.myProfile_settings .switch-input:checked + .switch-slider::before {
  transform: translateX(28px);
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
}

.settings_item {
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  padding: 4px 0 0 0.75rem;
  font-size: 14px;
}
li::marker { background-color: red }
.listElement ::marker {
  background-color: red
}
.listElement::marker {
  background-color: red
}
@media screen and (min-width: 600px) {
  .newChat {
    padding-left: 4px;
  }
  .myChats_header button span.new_group_button {
    display: block;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .box31 {
    display: flex!important;
    width: 31%;
    min-width: 356px;
  }
  .box68group {
    display: flex;
    flex-direction: column;
    width: 68%;
  }
  .single_chat {
    flex-direction: column;
  }
  /*.list_menu {*/
  /*  right: initial;*/
  /*  left: 0;*/
  /*}*/
  .icon_arrow {
    display: none;
  }
  /*.newChat {*/
  /*  font-size: 18px;*/
  /*}*/
  .newChat {
    padding-left: 0;
  }
  .searchUser {
    display: flex;
  }
  .myChats_header button  span.new_group_button {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .single_chat {
    flex-direction: row;
  }
  /*.newChat {*/
  /*  font-size: 17px;*/
  /*}*/
  .myChats_header button  span.new_group_button {
    display: block;
  }
  .single_chat-field {
    height: 90%;
  }
  .newChat {
    padding-left: 4px;
  }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: pink;
  }
}


  .leonardo1 {
  background: linear-gradient(81.02deg, #FA5560 -23.47%, #B14BF4 45.52%, #4D91FF 114.8%);
}

.leonardo2 {
  background: linear-gradient(81deg, rgba(219, 81, 158, 0.75) 13.83%, rgba(177, 75, 244, 0.75) 49.5%, rgba(102, 107, 209, 0.75) 85.32%);
}

.leonardo3 {
  background: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
}
.leonardo3:hover {
  background-position: right center;
}
.css-1rgt4x8:hover, .css-1rgt4x8[data-hover] {
  background: linear-gradient(90.04deg, rgb(177, 75, 244) -7.94%, rgb(77, 145, 255) 110%);
}

.leonardo4 {
  background: linear-gradient(90.04deg, #D4C5FF, #AD8EFF);
}

.leonardo5 {

}
